@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-light: 231deg 77% 90%;
    --color-dark: 230deg 35% 7%;
  }
}

@layer components {
  .underline-indicators > *,
  .underline-indicators > * > nav-menu-link {
    @apply border-b-[0.2rem] border-solid  border-light 
    border-opacity-0 transition-all duration-500 
    ease-in-out 
    hover:border-opacity-50
    focus:border-opacity-50
    aria-selected:border-opacity-50;
  }
}
